.infoBtn {
  position: absolute;
  width: 32px;
  height: 32px;
  margin-left: 256px;
  margin-top: 12px;
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity));
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(51 65 85 / var(--tw-border-opacity));
  border-radius: 20px;
  transform: rotate(90deg);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 15.5px;
  display: flex;
  justify-content: center;
  transition-duration: 0.3s;
}

.infoBtn:hover {
  transition-duration: 0.3s;
  background-color: #876afe;
  cursor: pointer;
}

.infoBtn:active {
  background-color: aliceblue;
  color: black;
  transition-duration: 0.3s;
}

.menuContainer {
  /* absolute w-[300px] text-black bg-white rounded-t-[17px] */
  position: absolute;
  width: 296px;
  color: white;
  background-color: #876afe;
  /* border-top-left-radius: 17px; */
  /* border-top-right-radius: 17px; */
  display: flex;
  flex-direction: column;
}

.menuButton {
  height: 32px;
  text-align: left;
  padding: 0 8px;
  border: 1px solid #1b1a1f;
  transition-duration: 0.3s;

}

.menuButton:hover {
  border: 1px solid #876afe;
  background-color: white;
  color: black;
  transition-duration: 0.3s;
}
